:root {
  --bg-main-color: #f7f7fb;
  --text-dark-gray-color: #555555;
  --text-light-gray-color: #8b8b8b;
  --text-dark-blue-color: #949aab;
  --text-light-blue-color: #ccd2e3;
}

@font-face {
  font-family: 'EF_watermelonSalad';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2')
    format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'EF_watermelonSalad';
}

html {
  font-size: 16px;
}

p,
span {
  margin: 0;
  white-space: pre-line;
}
