.main {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_add {
  width: 2em;
  height: 2em;
  background-color: var(--bg-main-color);
  border-radius: 50%;
  border: 1em solid var(--bg-main-color);
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}

.main_add:hover {
  background-color: var(--text-light-blue-color);
  color: var(--text-dark-blue-color);
  border: 1em solid var(--text-light-blue-color);
  transform: scale(1.1);
}

.main_add:active {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.main_add:active .plus_icon {
  fill: white;
}

.plus_icon {
  width: 90%;
  height: 90%;
  fill: var(--text-dark-gray-color);
}

#fiter_form {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#form_select {
  width: 7em;
  height: 1.3em;
}

#form_input {
  width: 20em;
  height: 1.3em;
}

#form_submit {
  height: 4em;
}

#form_submit:hover .search_icon {
  fill: var(--text-dark-blue-color);
}

.main_search {
  display: flex;
  justify-content: center;
}

.main_search select,
.main_search div {
  margin: 1vw;
  border-radius: 5px;
}

.main_search select {
  height: 4em;
  width: 9em;
  vertical-align: top;
  border: 1px solid var(--text-dark-blue-color);
  padding: 5px;
}

.main_search div {
  width: 20em;
  display: flex;
  border: 1px solid var(--text-dark-blue-color);
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.main_search input {
  height: 3em;
  width: 20em;
  vertical-align: top;
  border: none;
  outline: none;
}

.main_search button {
  width: 4em;
  height: 100%;
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.main_search button:hover .search_icon {
  cursor: pointer;
  fill: var(--text-dark-blue-color);
}

.search_icon {
  fill: var(--text-light-blue-color);
  width: 2em;
  height: 2em;
}

.card_view {
  margin-top: 1em;
}

.filter_section {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}

.filter_section select {
  width: 8em;
  text-align: center;
  border: none;
  background-color: inherit;
  outline: none;
}

.card_section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}
